body {
    padding: 100px;
}

.submit-area {
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    padding: 20px;
    width: 95%;
}

#transaction-area {}

.deposit {
    background: #000;
}

.withdraw {
    background: tomato;
}

.balance {
    background: orange;
}

.status {
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 0px 20px;
}